<!doctype html>
<html>
<head>
	<title>CS602 HW3 - Isis Tejeda</title>
</head>
<body>
<header>
	<center><b>{{title}}</b></center>
</header>
<h2>CS602 HW3 - Isis Tejeda</h2>
		<a href="/">Home</a> |
		<a href="/products">List of Products</a> |
		<a href="/products/add">Add A Product (Stock)</a>
<hr/>

	{{{body}}}

</body>
</html>
