<!doctype html>
<html>
<head>
	<title>CS602 HW3 - Isis Tejeda</title>
</head>
<body>

<h2>CS602 Project - Isis Tejeda</h2>
		<a href="/">Home</a> |
		<a href="/products">Products</a> |
		<a href="/cart">Cart</a> |
		<a href="/orders">Orders</a> |
		<a href="/admin/products">Admin</a>
<hr/>

	{{{body}}}

</body>
</html>
