<!doctype html>
<html>
<head>
	<title>CS602 HW2 Part 2 - Isis Tejeda</title>
</head>
<body>
<header>
	<center><b>{{title}}</b></center>
</header>
<h2>CS602 HW2 Part 2 - Isis Tejeda</h2>
		<a href="/">Home</a> |
		<a href="/employees/add">add employee</a>
<hr/>

	{{{body}}}

</body>
</html>
