<form method="POST" action="/addEmployee">
	<table>
    <caption>Add a New Employee</caption>
	<tr>
	 <td valign="top">
	  <label for="cid">First Name:</label>
	 </td>
	 <td valign="top">
	  <input type="text" name="firstName" size="30">
	 </td>
  </tr>
  <tr>
	 <td valign="top">
	  <label for="cname">Last Name:</label>
	 </td>
	 <td valign="top">
	  <input  type="text" name="lastName" size="30">
	 </td>
  </tr>
  <tr>
 	 <td colspan="2">
  	<input type="submit" width="100"/>
   </td>
  </tr>
 </table>
</form>
